.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0;
}

.menu_button {
  background: none;
  color: white;
  border: none;
  padding: 0.5rem;
}

.bar_icon {
  font-size: 1.5rem;
}

.title {
  margin: 0;
}

.title_link {
  color: var(--main-font-color);
  text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
  }

  .title {
    font-size: 3.5rem;
    margin: 0;
  }

  .bar_icon {
    font-size: 3rem;
  }

  @media screen and (min-height: 1300px) {
    .container {
      padding: 1.5rem;
    }

    .title {
      font-size: 4rem;
      margin: 0;
    }

    .bar_icon {
      font-size: 3.5rem;
    }
  }
}