.container {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  // background: rgba(0, 0, 0, .7);
  justify-content: flex-end;
  z-index: 999;
}

.exit_area {
  border: 1px white solid;
  height: 100%;
  flex-grow: 1;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.menu_bar {
  border: 1px white solid;
  height: 100%;
  background: black;
  right: 0;
  width: 70vw;
}