.container {
  padding: 0.5rem 1rem;
  background: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.body_container {
  padding: 0.5rem 1.25rem;
  line-height: 1.625rem;
}
